@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: #d8e0eb;
  --background: #f9fafb;

  --primary: rgb(18, 18, 19);
  --subtitle: rgb(51 65 85);
  --link: rgb(3 105 161);

  --inputBorder: #126abd;
  --borderColor: rgb(224, 224, 224);
}

.dark {
  --border: #2e3847;
  --background: #0f141a;

  --primary: rgb(226 232 240);
  --subtitle: rgb(203 213 225);
  --link: rgb(74, 187, 239);

  --inputBorder: #5bb0ff;
  --borderColor: rgb(44, 57, 75);
}

* {
  @apply border-border;
}
body {
  background-color: var(--background);
  @apply font-sans text-primary;
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

html {
  -webkit-tap-highlight-color: transparent;
  /* -webkit-font-smoothing: antialiased; */
}

h1,
h2,
h3,
h4 {
  word-spacing: -0.025em;
  letter-spacing: -0.05px;
}

.link {
  @apply hover:underline hover:text-link transition;
}

.page-title {
  @apply text-2xl md:text-3xl font-bold;
}

.search-form {
  position: relative;
}

input[type='text'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  border: 1.5px solid var(--borderColor);
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  transition: all 0.4s ease;
  background-color: white;
  color: #1a1a1a;
}

input::placeholder {
  color: rgb(141, 141, 141);
}

input:focus {
  box-shadow: 0 0 0 1px var(--inputBorder);
  border-color: var(--inputBorder);
}

svg.search-icon {
  width: 1.25rem;
  height: 1.25rem;
  top: 10px;
  right: 12px;
  position: absolute;
  color: #9c9c9c;
}

@media screen and (max-width: 678px) {
  .card-body {
    min-height: 300px;
  }
}
